//
   Created by glickm on 4/3/15.
.panel.panel-default
    .panel-heading Children
    .panel-body
        .form-group
            label.col-sm-2(for='childAge') Current Age:
            .col-sm-10
                input.form-control(type='text', name='childAge', id='childAge', ng-model='calculate.childAge')
        .form-group
            label.col-sm-2(for='childCost') Annual Cost of Child:
            .col-sm-10
                input.form-control(type='text', name='childCost', id='childCost', ng-model='calculate.childCost')
        .form-group
            label.col-sm-2(for='childLongCost') One Time Long Term Costs:
            .col-sm-10
                input.form-control(type='text', name='childLongCost', id='childLongCost', ng-model='calculate.childLongCost')

