//
   Created by glickm on 4/3/15.
.form-group
    label.col-sm-2(for='inflation') Inflation:
    .col-sm-4
        input.form-control(type='text', name='inflation', id='inflation', ng-model='calculate.inflation')
    label.col-sm-2(for='taxPercentage') Tax Percentage Guess:
    .col-sm-4
        input.form-control(type='text', name='taxPercentage', id='taxPercentage', ng-model='calculate.taxPercentage')