//
   Created by glickm on 4/3/15.
.panel.panel-default
    .panel-heading Inheritance/Windfall
    .panel-body
        .form-group
            label.col-sm-2(for='windfallAmount') Expected Amount:
            .col-sm-10
                input.form-control(type='text', name='windfallAmount', id='windfallAmount', ng-model='calculate.windfallAmount')
        .form-group
            label.col-sm-2(for='windfallYear') Windfall Year:
            .col-sm-10
                input.form-control(type='text', name='windfallYear', id='windfallYear', ng-model='calculate.windfallYear')