//
   Created by MattGlick on 4/2/2015.

form.form-horizontal
   .form-group
      label.col-sm-2(for='income') Annual Income:
      .col-sm-10
         input.form-control(type='text', name='income', id='income', ng-model='calculate.income', placeholder='Income')
   .form-group
      label.col-sm-2(for='savingsPercentage') Savings Percentage:
      .col-sm-10
         input.form-control(type='text', name='savingsPercentage', id='savingsPercentage', ng-model='calculate.savingsPercentage' placeholder='Percentage')