//
   Created by glickm on 4/3/15.
.panel.panel-default
    .panel-heading Salary
    .panel-body
        .form-group
            label.col-sm-2(for='income') Annual Income:
            .col-sm-10
                input.form-control(type='text', name='income', id='income', ng-model='calculate.income')

