//
   Created by MattGlick on 3/31/2015.
html(ng-app='FireCalc' ng-controller='CalculateController as calculate')
    head
        title=title
        link(href='./bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='./bower_components/bootstrap/dist/css/firecalc.css', rel='stylesheet')
        script(src='./bower_components/angular/angular.min.js')
        script(src='./js/controllers/calculate-controller.js')
        script(src='./js/services/calculate-service.js')

    body
        .container
            div(ng-include="'./partials/navbar'")
            .jumbotron
                h1 Welcome to the FIRE Calculator
                h3 Please enter your Annual Income and Savings Percentage to determine the number of years until you will be financially independent!
            .buffer
            form.form-horizontal
                .panel.panel-primary
                    .panel-heading General Constants
                    .panel-body
                        div(ng-include="'./partials/constants'")
                .panel.panel-primary
                    .panel-heading Income
                    .panel-body
                        div(ng-include="'./partials/salary'")
                        div(ng-include="'./partials/portfolio'")
                        div(ng-include="'./partials/inheritance'")
                .panel.panel-primary
                    .panel-heading Expenses
                    .panel-body
                        div(ng-include="'./partials/expenses'")
                        div(ng-include="'./partials/mortgage'")
                        div(ng-include="'./partials/loans'")
                        div(ng-include="'./partials/children'")
            button.btn.btn-default(type='submit', ng-click='calculate.toggleResult()') Calculate
            div(ng-show='calculate.showResult')
                label.col-sm-2(for='retirementYear') Retirement Year
                .col-sm-10
                    label.col-sm-10 {{ calculate.retirementYear }}
