//
   Created by MattGlick on 3/31/2015.
html(ng-app='FireCalc' ng-controller='CalculateController as calculate')
    head
        title=title
        link(href='./bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='./bower_components/bootstrap/dist/css/firecalc.css', rel='stylesheet')
        script(src='./bower_components/angular/angular.min.js')
        script(src='./js/controllers/calculate-controller.js')
        script(src='./js/services/calculate-service.js')

    body
        .container
            div(ng-include="'./partials/navbar'")
            .jumbotron
                h1 Welcome to the FIRE Calculator
                h3 Please enter your Annual Income and Savings Percentage to determine the number of years until you will be financially independent!
            .buffer
            form.form-horizontal
                .form-group
                    label.col-sm-2(for='income') Annual Income:
                    .col-sm-10
                        input.form-control(type='text', name='income', id='income', ng-model='calculate.income')
                .form-group
                    label.col-sm-2(for='annualExpenses') Current Annual Expenses:
                    .col-sm-10
                        input.form-control(type='text', name='annualExpenses', id='annualExpenses', ng-model='calculate.annualExpenses')
                .form-group
                    label.col-sm-2(for='retirementExpenses') Retirement Expenses:
                    .col-sm-10
                        input.form-control(type='text', name='retirementExpenses', id='retirementExpenses', ng-model='calculate.retirementExpenses')
                .form-group
                    label.col-sm-2(for='loanAmount') Loan Amount:
                    .col-sm-10
                        input.form-control(type='text', name='loanAmount', id='loanAmount', ng-model='calculate.loanAmount')
                .form-group
                    label.col-sm-2(for='interestRate') Loan Interest Rate:
                    .col-sm-10
                        input.form-control(type='text', name='interestRate', id='interestRate', ng-model='calculate.interestRate')
            button.btn.btn-default(type='submit', ng-click='calculate.toggleResult()') Calculate
            div(ng-show='calculate.showResult')
                label.col-sm-2(for='retirementYear') Retirement Year
                .col-sm-10
                    label.col-sm-10 {{ calculate.retirementYear }}
